body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    line-height: 1.5em;
}


#wex {
  padding: 2em;
}

.value {
    color: #448;
}

.stdout {
    color: #484;
}

.stderr {
    color: #a22;
}

form {
  width: 100%;
  display: table;
}

#input {
  display: table-cell;
  box-shadow: none;
  border: none;
  background: #f0ffff;
  outline: none;
  width: 90%;
  font-weight: bold;
  overflow: hidden;
  font-size: 100%;
}

#prompt {
  display: table-cell;
  width: 3em;
  padding-right: 0.3em;
  color: #aaa;
}


.iprompt {
  float: left;
  width: 3em;
  padding-right: 0.3em;
  color: #aaa;
}

.ip {
    margin-left: 3em;
}

#help {
    font-size: 75%;
}

#help h1 {
    display: block;
    width: 100%;
    background: #229;
    color:      #ddf;
    font-weight: bold;
    font-size:   100%;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#help h2 {
    color:      #339;
    font-weight: bold;
    font-size:   100%;
    padding:    0px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#help pre {
    margin: 0.5em 0em 0.5em 0em;
    background: rgb(218, 218, 218);
    padding: 0.4em;
    border: 1px solid rgb(200,200,200);
    -webkit-border-radius: 0.4em;
    -moz-border-radius:    0.4em;
    border-radius:         0.4em;
    overflow: scroll;
}

#help code {
    font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 
                 'DejaVu Sans Mono', Consolas, 'Everson Mono', 
                 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 
                 'Liberation Mono', FreeMono, 'Osaka Monospaced', 
                 Courier, 'New Courier', monospace;
}

#help p {
    margin: 0.2em 0em 0.2em 0em;
}

