html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; 
    line-height: 1.5em;
}



#select-layout {
    font-size: 60%;
}

.value {
    color: #448;
}

.stdout {
    color: #484;
}

.stderr {
    color: #a22;
}

form {
  width: 100%;
}

table#interacter {
    width: 100%;
}

#input-field {
  box-shadow: none;
  border: none;
  background: #ffffff;
  outline: none;
  width: 95%;
  max-width: 95%;
  min-width: 95%;
  padding: 0px;
  padding-left: 0.5em;
}

#input input {
  margin: 0px;
  width: 99%;
  font-weight: bold;
  overflow: scroll;
  font-size: 100%;
}

#prompt-cell {
    width: 3em;
}

#prompt {
  width: 3em;
  max-width: 3em;
  min-width: 3em;
  padding-right: 0.3em;
  color: #888;
}


.iprompt {
  float: left;
  width: 3em;
  padding-right: 0.3em;
  color: #aaa;
}

.ip {
    margin-left: 3em;
}

#help {
    font-size: 75%;
}

#help h1 {
    display: block;
    width: 100%;
    background: #229;
    color:      #ddf;
    font-weight: bold;
    font-size:   100%;
    padding: 0.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#help h2 {
    color:      #339;
    font-weight: bold;
    font-size:   100%;
    padding:    0px;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}

#help pre {
    margin: 0.5em 0em 0.5em 0em;
    background: rgb(218, 218, 218);
    padding: 0.4em;
    border: 1px solid rgb(200,200,200);
    -webkit-border-radius: 0.4em;
    -moz-border-radius:    0.4em;
    border-radius:         0.4em;
    overflow: scroll;
}

#help code {
    font-family: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 
                 'DejaVu Sans Mono', Consolas, 'Everson Mono', 
                 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 
                 'Liberation Mono', FreeMono, 'Osaka Monospaced', 
                 Courier, 'New Courier', monospace;
}

#help p {
    margin: 0.2em 0em 0.2em 0em;
}

#frame {
    height: 100%;
    min-height: 100%;
}


ul.jqtree-tree li.jqtree-selected > .jqtree-element,
ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    font-weight: bold;
    background: none !IMPORTANT;
}

#editor {
    padding: 0px !IMPORTANT;
}


#tools {
    padding: 0px !IMPORTANT;
}



#tabs {
    background: #e0e0ff;
    height: 30px;
    width:100%;
    display:inline-block;
    position: absolute;
    overflow: hidden;
}

#tabs ul {
    margin-top: 6px;
    font-size: 70%;
}

#tab-list:after {
    display:block;
    clear:both;
    content:'';
}
 
#tab-list li {
    margin:0px -4px;
    float:left;
    list-style:none;
    position: relative;
}
 
#tab-list a {
    padding:       2px 5px;
    display:       inline-block;
    border-radius: 6px 6px 0px 0px;
    font-weight:   600;
    color:         #4c4c4c;
    transition:    all linear 0.15s;
    border:        2px solid #27a;
    text-decoration: none;
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0.4, 0.7);
    -moz-box-shadow:    3px 3px 5px 0px rgba(0, 0, 0.4, 0.7);
    box-shadow:         3px 3px 5px 0px rgba(0, 0, 0.4, 0.7);
    background-color: #97BDD6;
    background: -webkit-gradient(linear, left top, left bottom, from(#BEE0F5), to(#89AFCA));
    background: -moz-linear-gradient(top, #BEE0F5, #89AFCA);
    background: -ms-linear-gradient(top, #BEE0F5, #89AFCA);
    background: -o-linear-gradient(top, #BEE0F5, #89AFCA);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);

}
 
#tab-list a:hover {
    background:#a7cce5;
    text-decoration:none;
}


#tab-list li.active {
    z-index: 1;
}
 
#tab-list li.active a, #tab-list li.active a:hover {
    background:#e0e0f8;
    color:#4c4c4c;
}





#ace {
   position: absolute;
   top: 30px;
   right: 0;
   bottom: 0;
   left: 0; 
   z-order: 2;
}

#filetree {
    background: #e0e0ff;
    font-size: 70%;
}

.jqtree_common.jqtree-title.jqtree-title-folder {
    margin-left: 1.5em !IMPORTANT;
}

#filetree a.jqtree-toggler, .object-tree a.jqtree-toggler {
    display: inline-block;
    width:  0em;
    overflow: visible;
    font-size: 40%;
    color:     #aaa;
    margin: 0 !IMPORTANT;
}

#interaction-pane {
    padding: 0px !IMPORTANT;
}




#interaction {
    background: #e0ffe0;
    overflow: auto;
    height: 100%;
    padding: 1em;
    font-size: 80%;
}

#interaction .object-tree {
    font-size: 95%;
    line-height: 130%;
}

#interaction .object-tree .pair-left-wrapper {
    height: .7em;
    line-height: 1em;
    display: inline-block;
    border-bottom: 1px #9b9 dotted;
    padding: 0;
}

#interaction .object-tree span.pair-left {
    color: #282;
    background: #e0ffe0;
    margin: 0;
    padding: 0;
}

#interaction .object-tree ul.jqtree_common {
    margin-top: 0;
    margin-left: 0em;
}

#interaction .object-tree ul.jqtree_common ul {
    margin-left: 1em;
}



#output span.pid {
    cursor: help;
}

#output span.pid:after {
      content: "ⓘ";
      color:   blue;
      font-weight: bold;
      font-size: larger;
}

#output span.pid:hover {
    color: blue;
}

#output .csize {
    color: #888;
    font-size: 60%;
}

.process-info {
    font-size: 80%;
    line-height: 110%;
}

.process-info .pi-tabs li {
    font-size: 50%;
}

.process-info td, .process-info th {
    vertical-align: top;
}

.process-info th {
    text-align: right;
    font-size:  75%;
    font-weight: bold;
    color: #494;
    padding-right: 0.5em;
}

.process-info th:after {
    content: ":"
}

.process-info .status {
    color:      #eee;
    padding-left: 0.5em;
    border-radius: 0.3em;
    text-align: center;
    font-weight: normal;
    font-size: 90%;
    text-shadow: #333 0px 0px 3px;
}

.process-info .status-running {
    background: #080;
}

.process-info .status-waiting {
    background: #088;
}


